.jhonatan {
  position: relative;
  display: inline-block;
  font-weight: bold;
}
.jhonatanWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div,
.home,
.home1,
.home2,
.home3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  padding: 0 10px; /* Add padding for consistent spacing */
  color: var(--white);
}
.home1, .home2, .home3 {
  color: var(--gray);
}
.headerLink,
.headerLink1,
.headerLink2,
.headerLink3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header,
.headerLinkParent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.headerLinkParent {
  flex: 1;
  align-items: center;
  justify-content: space-around; /* Distribute space evenly */
  color: var(--primary);
}
.header {
  flex: 1;
  background-color: var(--background);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-13xl) 0 var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-fira-code);
}
@media screen and (max-width: 750px) {
  .headerLinkParent {
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 450px) {
  .headerLink {
    display: none;
  }
  .headerLink1,
  .headerLink2 {
    display: none;
  }
  .headerLinkParent {
    width: 100%;
    justify-content: space-around;
  }
}
